# ── App ───────────────────────────────────────────────────────────────────────
VITE_ENVIRONMENT=
VITE_APP_TITLE=

# ── API ───────────────────────────────────────────────────────────────────────
VITE_HYPERSTRATE_API_URL=
VITE_HYPERSTRATE_OPENAPI_URL=

# ── Supabase ──────────────────────────────────────────────────────────────────
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
